<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}MySite{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/alpinejs.js') }}" defer></script>
</head>

<body>
  <header>
    <h1>{% block header %}MySite{% endblock %}</h1>
  </header>
  <main>{% block content %}{% endblock %}</main>
  <footer>
    <p>&copy; 2024 MySite</p>
  </footer>
</body>

</html>